# Creación de Data Frame y JSON de Batallas

Importación de Librería Pandas

In [1]:
import pandas as pd

Creación de arreglo batallas y declaración de Data Frame

In [2]:
batallas = {
    "id":[],
    "pokemon":[],
    "lvl_inicial":[],
    "lvl_final":[]
}
df = pd.DataFrame(batallas)

Exportación de Data Frame a Json

In [4]:
df.to_json('batallas.json')

Visualización de Data Frame Final

In [5]:
df

Empty DataFrame
Columns: [id, pokemon, lvl_inicial, lvl_final]
Index: []