# Creación de Data Frame y JSON de Pokemones capturados

Importación de Librería Pandas

In [5]:
import pandas as pd

Creación de arreglo sin ningún pokemon y declaración de Data Frame

In [2]:
pokemon= {
    "nombre":["Ninguno"],
    "especie":[0],
    "vida_actual":[0],
    "lvl_actual":[0],
    "exp_actual":[0],
    "evol":[0],
    "ataqueA":["Ninguno"],
    "ataqueB":["Ninguno"],
    "ataqueC":["Ninguno"],
    "ataqueD":["Ninguno"]
}
df = pd.DataFrame(pokemon)

Exportación de Data Frame a Json

In [3]:
df.to_json('pokemon.json')

Visualización de Data Frame Final

In [4]:
df

,nombre,especie,vida_actual,lvl_actual,exp_actual,evol,ataqueA,ataqueB,ataqueC,ataqueD
0,Ninguno,0,0,0,0,0,Ninguno,Ninguno,Ninguno,Ninguno

In [8]:
ndf=pd.read_json('pokemon.json')
ndf

,nombre,especie,vida_actual,lvl_actual,exp_actual,evol,ataqueA,ataqueB,ataqueC,ataqueD
0,VIBORA DE LA MAR,CHARMANDER,250,5,0,0,PATADA ÍGNEA,Ninguno,Ninguno,Ninguno
1,MARY POPPINS,PIDGEY,250,4,0,0,PICOTAZO,Ninguno,Ninguno,Ninguno
2,MARIA DE TODOS LOS ANGELES,CATERPIE,110,3,0,0,CHUPAVIDAS,Ninguno,Ninguno,Ninguno

In [16]:
ndf['lvl_actual']=ndf['lvl_actual'].replace({4:5})

In [18]:
ndf.to_json('pokemon.json')