# Creación de Data Frame y JSON de Pokedex

Importación de Librería Pandas

In [1]:
import pandas as pd
from random import randint

Creación de arreglo con los primeros 6 pokemones y declaración de Data Frame

In [13]:
pokedex = {
    "num":[1,4,7],
    "nombre":["Bulbasaur", "Charmander", "Squirtle"],
    "tipo":["Planta", "Fuego", "Agua"],
    "vida_total":[200,250,300],
    "lvl_max":[16,16,16],
    "aparicion":[0,0,0],
    "descripcion":
        [
        "Este Pokémon nace con una semilla en el lomo. Con el tiempo, la semilla brota.",
        "Este Pokémon nace con una llama en la punta de la cola. Si la llama se apagara, el Pokémon se debilitaría.",
        "Cuando se esconde en el caparazón, dispara agua a una presión increíble.", 
        ]
}
df = pd.DataFrame(pokedex)

Concatenación del resto de pokemones al Data Frame principal

In [14]:
pokemon = pd.DataFrame({'num':[10], 'nombre':["Caterpie"], 'tipo':["Bicho"], 'vida_total':[110], 'lvl_max':[16], "aparicion":[3], "descripcion":["Tiene la piel de color verde. Cuando la muda, se recubre de seda y se convierte en capullo."]})
df=pd.concat([df,pokemon],ignore_index=True)

In [15]:
pokemon = pd.DataFrame({'num':[13], 'nombre':["Weedle"], 'tipo':["Veneno"], 'vida_total':[100], 'lvl_max':[16], "aparicion":[3], "descripcion":["Suele habitar bosques y praderas. Tiene un afilado y venenoso aguijón de unos 5 cm encima de la cabeza."]})
df=pd.concat([df,pokemon],ignore_index=True)

In [16]:
pokemon = pd.DataFrame({'num':[16], 'nombre':["Pidgey"], 'tipo':["Volador"], 'vida_total':[250], 'lvl_max':[16], "aparicion":[3], "descripcion":["A este Pokémon no le gusta luchar. Suele permanecer escondido en zonas de hierba alta. Se alimenta de pequeños insectos."]})
df=pd.concat([df,pokemon],ignore_index=True)

In [17]:
pokemon = pd.DataFrame({'num':[19], 'nombre':["Rattata"], 'tipo':["Normal"], 'vida_total':[150], 'lvl_max':[32], "aparicion":[3], "descripcion":["Tiene unos largos y afilados colmillos que no dejan de crecer. Le resultan muy útiles para destruir cosas."]})
df=pd.concat([df,pokemon],ignore_index=True)

In [18]:
pokemon = pd.DataFrame({'num':[25], 'nombre':["Pikachu"], 'tipo':["Eléctrico"], 'vida_total':[300], 'lvl_max':[32], "aparicion":[2], "descripcion":["Las bolsas de las mejillas están llenas de electricidad, que libera cuando se siente amenazado."]})
df=pd.concat([df,pokemon],ignore_index=True)

In [19]:
pokemon = pd.DataFrame({'num':[64], 'nombre':['Kadabra'], 'tipo':['Psíquico'], 'vida_total':[500], 'lvl_max':[48], "aparicion":[2], "descripcion":["Cuentan que una mañana, un niño que tenía poderes extrasensoriales, se despertó convertido en Kadabra."]})
df=pd.concat([df,pokemon],ignore_index=True)

In [20]:
pokemon = pd.DataFrame({'num':[150], 'nombre':['Mewtwo'], 'tipo':['Psíquico'], 'vida_total':[1700], 'lvl_max':[99], "aparicion":[7], "descripcion":["Su código genético se recombinó repetidas veces por motivos científicos y el resultado fue este curioso Pokémon."]})
df=pd.concat([df,pokemon],ignore_index=True)

Creación de columna extra para definir que ningún pokemon está capturado

In [21]:
df['captura']=0

Conversión de nombres a mayúsculas

In [22]:
df['nombre']=df['nombre'].str.upper()
df['tipo']=df['tipo'].str.upper()

Definición de la columna num como índice

df.set_index('num', inplace=True)

Exportación de Data Frame a Json

In [23]:
df.to_json('pokedex.json')

Visualización de Data Frame Final

In [24]:
df

,num,nombre,tipo,vida_total,lvl_max,aparicion,descripcion,captura
0,1,BULBASAUR,PLANTA,200,16,0,Este Pokémon nace con una semilla en el lomo. ...,0
1,4,CHARMANDER,FUEGO,250,16,0,Este Pokémon nace con una llama en la punta de...,0
2,7,SQUIRTLE,AGUA,300,16,0,"Cuando se esconde en el caparazón, dispara agu...",0
3,10,CATERPIE,BICHO,110,16,3,"Tiene la piel de color verde. Cuando la muda, ...",0
4,13,WEEDLE,VENENO,100,16,3,Suele habitar bosques y praderas. Tiene un afi...,0
5,16,PIDGEY,VOLADOR,250,16,3,A este Pokémon no le gusta luchar. Suele perma...,0
6,19,RATTATA,NORMAL,150,32,3,Tiene unos largos y afilados colmillos que no ...,0
7,25,PIKACHU,ELÉCTRICO,300,32,2,Las bolsas de las mejillas están llenas de ele...,0
8,64,KADABRA,PSÍQUICO,500,48,2,"Cuentan que una mañana, un niño que tenía pode...",0
9,150,MEWTWO,PSÍQUICO,1700,99,7,Su código genético se recombinó repetidas vece...,0

In [35]:
ndf=pd.read_json('pokedex.json')
ndf

,num,nombre,tipo,vida_total,lvl_max,aparicion,descripcion,captura
0,1,BULBASAUR,PLANTA,200,16,0,Este Pokémon nace con una semilla en el lomo. ...,0
1,4,CHARMANDER,FUEGO,250,16,0,Este Pokémon nace con una llama en la punta de...,1
2,7,SQUIRTLE,AGUA,300,16,0,"Cuando se esconde en el caparazón, dispara agu...",0
3,10,CATERPIE,BICHO,110,16,3,"Tiene la piel de color verde. Cuando la muda, ...",0
4,13,WEEDLE,VENENO,100,16,3,Suele habitar bosques y praderas. Tiene un afi...,0
5,16,PIDGEY,VOLADOR,250,16,3,A este Pokémon no le gusta luchar. Suele perma...,0
6,19,RATTATA,NORMAL,150,32,3,Tiene unos largos y afilados colmillos que no ...,0
7,25,PIKACHU,ELÉCTRICO,300,32,2,Las bolsas de las mejillas están llenas de ele...,0
8,64,KADABRA,PSÍQUICO,500,48,2,"Cuentan que una mañana, un niño que tenía pode...",0
9,150,MEWTWO,PSÍQUICO,1700,99,7,Su código genético se recombinó repetidas vece...,0

In [43]:
ndf.set_index("num", inplace=True)
print(ndf)
print(ndf.loc[7,"nombre"])
ndf.reset_index(inplace=True)

'MEWTWO'

In [30]:
ndf.reset_index(inplace=True)