In [75]:
import pandas as pd

In [76]:
pokedex = {
    "Num":[1,4,7,10,13,16,19,25,64,150],
    "nombre":["Bulbasaur", "Charmander", "Squirtle", "Caterpie", "Weedle",  "Pidgey", "Rattata", "Pikachu","Kadabra","Mewtwo"],
    "tipo":["Planta-Veneno", "Fuego", "Agua", "Bicho", "Bicho-Veneno", "Normal-Volador", "Normal", "Eléctrico", "Psíquico", "Psíquico"],
    "vida_total":[200,250,300,110,100,250,150,300,500,1700],
    "lvl_max":[16,16,16,16,16,16,32,32,48,99],
    "Aparicion":[0,0,0,3,3,3,3,2,2,7],
    "Descripcion":
        [
        "Este Pokémon nace con una semilla en el lomo. Con el tiempo, la semilla brota.",
        "Este Pokémon nace con una llama en la punta de la cola. Si la llama se apagara, el Pokémon se debilitaría.",
        "Cuando se esconde en el caparazón, dispara agua a una presión increíble.", 
        "Tiene la piel de color verde. Cuando la muda, se recubre de seda y se convierte en capullo.", 
        "Suele habitar bosques y praderas. Tiene un afilado y venenoso aguijón de unos 5 cm encima de la cabeza.",
        "A este Pokémon no le gusta luchar. Suele permanecer escondido en zonas de hierba alta. Se alimenta de pequeños insectos.",
        "Tiene unos largos y afilados colmillos que no dejan de crecer. Le resultan muy útiles para destruir cosas.",
        "Las bolsas de las mejillas están llenas de electricidad, que libera cuando se siente amenazado.", 
        "Cuentan que una mañana, un niño que tenía poderes extrasensoriales, se despertó convertido en Kadabra.",
        "Su código genético se recombinó repetidas veces por motivos científicos y el resultado fue este curioso Pokémon."
        ]
}

In [77]:
df = pd.DataFrame(pokedex)

In [78]:
df['Captura']=0

In [79]:
df.set_index('Num', inplace=True)

In [80]:
df
df

,nombre,tipo,vida_total,lvl_max,Aparicion,Descripcion,Captura
Num,,,,,,,
1,Bulbasaur,Planta-Veneno,200,16,0,Este Pokémon nace con una semilla en el lomo. ...,0
4,Charmander,Fuego,250,16,0,Este Pokémon nace con una llama en la punta de...,0
7,Squirtle,Agua,300,16,0,"Cuando se esconde en el caparazón, dispara agu...",0
10,Caterpie,Bicho,110,16,3,"Tiene la piel de color verde. Cuando la muda, ...",0
13,Weedle,Bicho-Veneno,100,16,3,Suele habitar bosques y praderas. Tiene un afi...,0
16,Pidgey,Normal-Volador,250,16,3,A este Pokémon no le gusta luchar. Suele perma...,0
19,Rattata,Normal,150,32,3,Tiene unos largos y afilados colmillos que no ...,0
25,Pikachu,Eléctrico,300,32,2,Las bolsas de las mejillas están llenas de ele...,0
64,Kadabra,Psíquico,500,48,2,"Cuentan que una mañana, un niño que tenía pode...",0
150,Mewtwo,Psíquico,1700,99,7,Su código genético se recombinó repetidas vece...,0

In [81]:
df.to_json('pokedex.json')

In [82]:
pokemon= {
    "Nombre":["Ninguno"],
    "Especie":[0],
    "Vida_actual":[0],
    "Lvl_actual":[0],
    "Exp_actual":[0],
    "Evol":[0]
}

In [96]:
df2 = pd.DataFrame(pokemon)

In [97]:
df2.to_json('pokemon.json')

In [89]:
dfNuevo=pd.read_json('pokedex.json')
dfNuevo

,nombre,tipo,vida_total,lvl_max,Aparicion,Descripcion,Captura
1,Bulbasaur,Planta-Veneno,200,16,0,Este Pokémon nace con una semilla en el lomo. ...,1
4,Charmander,Fuego,250,16,0,Este Pokémon nace con una llama en la punta de...,0
7,Squirtle,Agua,300,16,0,"Cuando se esconde en el caparazón, dispara agu...",0
10,Caterpie,Bicho,110,16,3,"Tiene la piel de color verde. Cuando la muda, ...",0
13,Weedle,Bicho-Veneno,100,16,3,Suele habitar bosques y praderas. Tiene un afi...,0
16,Pidgey,Normal-Volador,250,16,3,A este Pokémon no le gusta luchar. Suele perma...,0
19,Rattata,Normal,150,32,3,Tiene unos largos y afilados colmillos que no ...,0
25,Pikachu,Eléctrico,300,32,2,Las bolsas de las mejillas están llenas de ele...,0
64,Kadabra,Psíquico,500,48,2,"Cuentan que una mañana, un niño que tenía pode...",0
150,Mewtwo,Psíquico,1700,99,7,Su código genético se recombinó repetidas vece...,0

In [98]:
df2.loc[1, [Nombre]]=["Uno"]
df2

    Nombre  Especie  Vida_actual  Lvl_actual  Exp_actual  Evol
0  Ninguno        0            0           0           0     0

In [88]:
count= df.shape[0]
while(count>0):
    print (count)
    count-=1

10
9
8
7
6
5
4
3
2
1