# Creación de Data Frame y JSON de Pokemones capturados

Importación de Librería Pandas

In [10]:
import pandas as pd

Creación de arreglo sin ningún pokemon y declaración de Data Frame

In [11]:
pokemon= {
    "nombre":["Ninguno"],
    "especie":[0],
    "vida_actual":[0],
    "lvl_actual":[0],
    "exp_actual":[0],
    "evol":[0],
    "ataqueA":["Ninguno"],
    "ataqueB":["Ninguno"],
    "ataqueC":["Ninguno"],
    "ataqueD":["Ninguno"]
}
df = pd.DataFrame(pokemon)

Exportación de Data Frame a Json

In [12]:
df.to_json('pokemon.json')

Visualización de Data Frame Final

In [13]:
df

,nombre,especie,vida_actual,lvl_actual,exp_actual,evol,ataqueA,ataqueB,ataqueC,ataqueD
0,Ninguno,0,0,0,0,0,Ninguno,Ninguno,Ninguno,Ninguno

In [17]:
ndf=pd.read_json('pokemon.json')
ndf

,nombre,especie,vida_actual,lvl_actual,exp_actual,evol,ataqueA,ataqueB,ataqueC,ataqueD
0,BULBASAUR,BULBASAUR,200,5,0,0,ESPORA,NaN,NaN,NaN

In [18]:
ndf.iloc[0,0]

'BULBASAUR'

In [21]:
numero=ndf.shape[0]-1
while (numero>=0):
    print(str(numero)+". ")
    print(ndf.iloc[numero,0])

TypeError: unsupported operand type(s) for +: 'int' and 'str'