# Creación de Data Frame y JSON de Pokemones capturados

Importación de Librería Pandas

In [42]:
import pandas as pd

Creación de arreglo sin ningún pokemon y declaración de Data Frame

In [43]:
pokemon= {
    "nombre":["Ninguno"],
    "especie":[0],
    "vida_actual":[0],
    "lvl_actual":[0],
    "exp_actual":[0],
    "evol":[0],
    "ataqueA":["Ninguno"],
    "ataqueB":["Ninguno"],
    "ataqueC":["Ninguno"],
    "ataqueD":["Ninguno"]
}
df = pd.DataFrame(pokemon)

Exportación de Data Frame a Json

In [44]:
df.to_json('pokemon.json')

Visualización de Data Frame Final

In [45]:
df

,nombre,especie,vida_actual,lvl_actual,exp_actual,evol,ataqueA,ataqueB,ataqueC,ataqueD
0,Ninguno,0,0,0,0,0,Ninguno,Ninguno,Ninguno,Ninguno

In [53]:
ndf=pd.read_json('pokemon.json')
ndf

,nombre,especie,vida_actual,lvl_actual,exp_actual,evol,ataqueA,ataqueB,ataqueC,ataqueD
0,BULBASAUR,BULBASAUR,200,5,0,0,ESPORA,Ninguno,Ninguno,Ninguno
1,BULBASAUR,BULBASAUR,10,2,0,0,ESPORA,Ninguno,Ninguno,Ninguno